/dist
.env
.DS_Store
/node_modules
/uploads
yarn-error.log

.idea

coverage

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.medusa